name: altibbi
description: Altibbi's Flutter SDK provides real-time, 24/7 connection to certified doctors via a suite of communication channels including GSM, VOIP, chat, and video.
version: 0.2.6
homepage: https://altibbi.com/

environment:
  sdk: '>=2.18.6 <4.0.0'
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface:  ^2.1.8
  http: ^1.3.0
  pusher_channels_flutter: ^2.4.0
  sendbird_chat_sdk: ^4.3.1


dev_dependencies:
  #flutter_test:
  #  sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.altibbi.flutter.altibbi
        pluginClass: AltibbiPlugin
        minSdkVersion: 21
        buildName: "1.1"
        buildNumber: 2
      ios:
        pluginClass: AltibbiPlugin
        deploymentTarget: "13.0"
